 @import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
    color: #fff;
}
body{
    background: #0f0f0f;
    font-family: 'Kumbh Sans', sans-serif;
    color: #fff;
}
section{
    padding: 2rem 1rem;
}
section:nth-of-type(1){
    padding: 0.1rem 1rem;
}
/*start of navigation */
header{
    position: sticky;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #0f0f0f;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 2rem 0.5rem 2rem;
    padding: 1rem 2rem;
    color: #fff;
    position: relative;
    text-align: center;
}
.nav-links{
    display: grid;
    grid-template-columns: 4.8fr 1fr;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}
.links>*{
    padding-right: 1rem;
    font-size: 1.1rem;
}

nav h3{
    font-size: 1.2rem;
}
.nav-bars{
    cursor: pointer;
    margin-top: 0.6rem;
}
.nav-bars span{
    display: block;
    height: 2px;
    width: 25px;
    background: #fff;
    margin-bottom: 0.2rem;
    margin-right: 2.5rem;
    position: relative;
    transition: 200ms ease-in;
}
.rotate span:nth-child(2){
    display: none;
}
.rotate span:nth-child(1){
    transform: rotate(-45deg);
    bottom: -0.3rem;
}

.rotate span:nth-child(3){
    transform: rotate(45deg);
}
.side-menu-links{
    background:rgb(18, 17, 17);
    position: fixed;
    top: 3rem;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    opacity: 0.9;
    padding-bottom: 2rem;
}
/* .side-menu-links{
    display: none;
} */

.nav-bars{
    display: none;
}
/* toggle on click */
.show-mobile-menu{
    transition: 180ms ease-in;
    transform: translateX(100%);
}
.side-links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    gap: 1rem;
    min-height: 400px;
}
.call-to-action{
    border: 1px solid #fff;
    border-radius: 1rem;
    padding: 0.35rem 0.7rem;
    transition:all 200ms ease-in-out;
}
.call-to-action:hover{
    background: linear-gradient(#15a089,#0a3f70);
}
/* end of navigation */

/* landing-page start */
.landing-page{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin: 1.5rem 1rem;
}
.hero-img img{
    max-height: 600px;
    width: 700px;
    object-fit: cover;
    border-radius: 0.2rem;
}
.landing-page .txt{
    max-width: 600px;
}
.landing-page .txt h1{
   font-size: clamp(1rem, -1.5rem + 8vw, 3rem);
   line-height: 1;
   padding-bottom: 1rem;
   background: -webkit-linear-gradient(#45a0f5, #26e3c2);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.landing-page .txt p{
   font-size: clamp(0.8rem, -1.3rem + 4vw, 1.7rem);
   line-height: 1.5;
}
.accent-txt{
    color: #45a0f5;
}
.accent-txt2{
    color: #26e3c2;
}
.btns{
    margin-top: 1.8rem;
}
.apply-btn{
    background: #ffffff;
    color:#0f0f0f;
    padding: 0.4rem 0.7rem; 
    border-radius: 1rem;
    margin-right: 1rem;
}
.learn-more-btn{
    border: 1px solid #fff;
    border-radius: 1rem;
    padding: 0.35rem 0.7rem;
    transition:all 200ms ease-in-out;
}
/* landing-page end */





/* media queries */
@media(max-width:800px){
    .nav-links{
        display: none;
    }
    .nav-bars{
        display: block;
    }
    .landing-page{
        grid-template-columns: 1fr;
    }
    .hero-img{
        order: -1;
    }
    .landing-page .txt{
        max-width: 500px;
        text-align: center;
        margin-top: 2rem;
        background: rgb(20, 20, 20);
        padding: 2rem 1rem;
    }
    .landing-page .txt p{
        font-size: clamp(1rem, 2.5vw, 2rem);  
    }
    .landing-page .txt h1{
        font-size: clamp(1.5rem, 2.5vw, 4rem); 
    }
    .hero-img{
        max-height: 380px;
    }
    .hero-img img{
        max-height: 380px;
    }
}

/* SERVICES SECTION */
.services{
    display: grid;
    grid-template-columns: repeat(auto-fit, 280px);
    justify-content: center;
    justify-items:center;
    gap: 1rem;
    margin-top: 3rem;
}
.service{
   border: 1px solid #5555; 
   max-width: 250px;
   padding: 2rem 2.4rem;
   border-radius: 1rem;
}
.icon-container{
    background: #4a484855;
    max-width: 30px;
    display: flex;    
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1.5rem;
    position: relative;
    font-size: 1.5rem;
    border-radius: 0.4rem;
    margin-bottom:0.5rem;
}
.service h3{
    font-size: 1rem;
    text-transform: capitalize;
    padding: 0.4rem 0rem 0.4rem 0rem;
}
.service p{
    color: #9999;
    line-height: 1.3;
}
/* END OF SERVICES SECTION */

/* START OF PRICING PLANS SECTION */
.pricing-plan h3, .pricing-plan p{
    margin-bottom: 1.2rem;
}
.pricing-container{
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, 300px);

}
.pricing-plan{
    max-width: 300px;
    border: 1px solid #5555;
    padding: 2.5rem 2rem;
    border-radius: 0.4rem;
    margin-bottom: 1rem;
    background: #151515
}
.pricing-particulars span{
    display: block;
    margin-bottom: 1.5rem;
}
.price{
    text-align: center;
    font-size: 1.4rem;
    margin-top: 1rem;
}
.price span{
    display: inline-block;
    font-size: 1.15rem;
}
.pricing-particulars .fa-check{
    background: -webkit-linear-gradient(#45a0f5, #26e3c2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-right: 0.5rem;
}
.pricing-particulars .apply-btn{
    all: unset;
    background: linear-gradient(#26e3c2,#45a0f5);
    display: grid;
    justify-content: center;
    padding: 0.5rem;
    border-radius: 1.2rem;
    cursor: pointer;
}
.fa-star, .fa-gem{
    background: -webkit-linear-gradient(#45a0f5, #26e3c2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.titles{
  text-align: center;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  flex-direction: column;
}
.titles p{
    padding: 0.5rem;
    max-width: 600px;
}

/* END OF PRICING PLANS SECTION */

/* make side menu disappear on big screens if open */
@media(min-width:800px){
    .side-menu-links{
    transform: translateX(100%);
    }   
}
/* end of media queries */
